<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <style>
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/i18n/angular-locale_ja.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script>
        angular.module("MyApp", ["ngResource", "ui.bootstrap"])
        .run(["$rootScope", "$resource", "$filter", function($scope, $resource, $filter) {
            var submit = $resource("./api/datepicker");

            /* ローカルタイムゾーンのオフセット値はJavaScriptの標準機能で取得できるが、それだと夏時間の調整までサポート
               できないため、jsTimeZoneDetectライブラリを使用してタイムゾーンの"名称"を得る。*/
            var timezone = jstz.determine().name();

            $scope.submit = function() {
                $scope.oneMonthAfter = submit.save({
                    date:$scope.date,  // 選択された日付(時刻部分が00:00:00になったDateオブジェクト)。ただしUTC化して送られる
                    formattedDate:$filter('date')($scope.date, 'yyyy-MM-dd'),   // 文字列に変換されたバージョンを送るならこうする(多くの場合この方が妥当)
                    timezone:timezone // タイムゾーン名称
                });
            };

            $scope.open = function($event) {
                $event.preventDefault();
                $event.stopPropagation();

                $scope.opened = true;
            };

            $scope.mytime = null;
          }]);
    </script>
    <title>DatePicker</title>
</head>
<body>
    <div class="container">
        <h1>DatePicker(日付選択)</h1>

        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="date" is-open="opened"
                   datepicker-options="{}" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>

        <p><button class="btn btn-default" ng-click="submit()">送信</button></p>

        <p>１ヶ月後の日付: [{{oneMonthAfter.info | date:'yyyy-MM-dd HH:mm'}}]</p>

        <h3>timepicker</h3>
        <uib-timepicker ng-model="mytime" hour-step="1" minute-step="30" show-meridian="false"></uib-timepicker><button class="btn btn-default">reset</button>
        waiting for <a href="https://github.com/angular-ui/bootstrap/commit/8ffdaeb099b3f3858369177056977940107e3d9d">8ffdaeb</a>

        <h3>View Source</h3>
        <ul>
            <li><a href="./src/examples/webapp/datepicker.html">クライアント (HTML/JavaScript)</a></li>
            <li><a href="./src/examples/scala/com/walbrix/spring/DatePickerRequestHandler.scala">サーバ (Scala/Spring MVC)</a></li>
        </ul>
        <p></p>
    </div>
</body>
</html>