<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-messages.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/9.1.2/ng-file-upload.js"></script>
    <title>Entity with an image example</title>
    <script>
        angular.module("MyApp", ["ngResource", "ngMessages", "ngFileUpload","ui.bootstrap"])
        .run(["$rootScope", "$resource", "Upload", function($scope, $resource, Upload) {
            var entity = $resource("./entitywithimage");
            $scope.entity = entity.get();

            $scope.reset = function() {
                $scope.imageUploadStatus = undefined;
                $scope.entity = entity.get();
                $scope.form.$setPristine();
            }

            $scope.save = function() {
                $scope.imageUploadStatus = undefined;
                entity.save($scope.entity);
                $scope.form.$setPristine();
            }

            $scope.deleteImage = function() {
                if ($scope.entity.image !== null) {
                    $scope.entity.image = null;
                    $scope.form.$setDirty();
                    $scope.imageUploadStatus = undefined;
                }
            }

            $scope.upload = function(file) {
                if (file == null) return;
                if (file.type.indexOf("image/") !== 0) {
                    $scope.imageUploadStatus = {unsupported: true};
                    return;
                }
                $scope.imageUploadStatus = {progress: 0};
                Upload.http({
                    url: './entitywithimage/image',
                    headers: { "Content-Type": file.type },
                    data: file
                }).progress(function(event) {
                    if ($scope.imageUploadStatus.progress !== undefined) {  // errorの後にprogressが来ることがあるのでこの条件判定が要る
                        $scope.imageUploadStatus.progress = Math.round(event.loaded / event.total * 100);
                    }
                }).success(function(data) {
                    $scope.imageUploadStatus = {success:true};
                    $scope.entity.image = data;
                    $scope.form.$setDirty();
                }).error(function(data, status) {
                    if (status == 415) {
                        $scope.imageUploadStatus = {unsupported:true};
                    } else {
                        $scope.imageUploadStatus = {unknown:true, info: data };
                    }
                });
            }
        }]);
    </script>
</head>
<body>
<div class="container">
    <h1>Entity with an image example</h1>

    <form name="form" class="form-horizontal" ng-submit="save()">
        <div class="form-group">
            <label class="control-label col-xs-2">画像</label>
            <div class="col-xs-10">
                <span ngf-select="upload($file)" ngf-drop="upload($file)">
                    <img class="img-responsive img-thumbnail" ng-src="{{entity.image? entity.image : './entitywithimage/no_image'}}">
                </span>
                <button class="btn btn-default" type="button" ng-show="entity.image" ng-click="deleteImage()"><span class="glyphicon glyphicon-ban-circle"></span>画像を削除</button>
                <uib-progressbar value="imageUploadStatus.progress" max="100" class="progress-striped active" ng-if="imageUploadStatus.progress!==undefined">
                    <span ng-if="imageUploadStatus.progress==100">変換処理中...</span>
                    <span ng-if="imageUploadStatus.progress<100">{{imageUploadStatus.progress}}%</span>
                </uib-progressbar>
                <div ng-messages="imageUploadStatus">
                    <span class="text-success" ng-message="success">画像アップロード成功</span>
                    <span class="text-danger" ng-message="unsupported">画像アップロード失敗: 使用できないファイル形式です</span>
                    <span class="text-danger" ng-message="unknown">画像アップロード失敗: {{imageUploadStatus.info}}</span>
                </div>
                <div ng-if="imageUploadStatus.progress===undefined">
                    ↑クリックしてファイルを選択するかここにドラッグ＆ドロップ
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">タイトル</label>
            <div class="col-xs-10">
                <input type="text" name="title" class="form-control" ng-model="entity.title">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">説明文</label>
            <div class="col-xs-10">
                <textarea name="description" class="form-control" ng-model="entity.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button class="btn btn-default" ng-disabled="imageUploadStatus.progress!==undefined || form.$pristine" ng-click="reset()" type="button"><span class="glyphicon glyphicon-remove-circle"></span>元に戻す</button>
                <button class="btn btn-primary" ng-disabled="imageUploadStatus.progress!==undefined || form.$pristine" type="submit"><span class="glyphicon glyphicon-save"></span>保存</button>
                <span ng-if="!form.$pristine">変更は保存されていません!</span>
            </div>
        </div>

    </form>

    <h3>View Source</h3>
    <ul>
        <li><a href="./src/examples/webapp/entitywithimage.html">クライアント (HTML/JavaScript)</a></li>
        <li><a href="./src/examples/scala/com/walbrix/scalatra/EntityWithImageServlet.scala">サーバ (Scalatra)</a></li>
    </ul>
</div>
</body>
</html>