<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <title>Timepicker</title>
    <script>
        angular.module('MyApp', [])
        .directive("timepicker", function() {
            return {
                restrict: 'E',
                replace: true,
                templateUrl: 'timepicker.html',
                require: '^ngModel',
                scope: {
                    required:'=',
                    hours:'&',  // & : 単方向バインディング(expression)
                    minutes:'&'
                },
                link: function(scope, element, attrs, ctrl) {
                    console.log(ctrl);
                    scope.hours = scope.hours();
                    if (!scope.hours) {
                        scope.hours = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23];
                    }
                    scope.minutes = scope.minutes();
                    if (!scope.minutes) {
                        scope.minutes = [0,5,10,15,20,25,30,35,40,45,50,55];
                    }

                    var minuteOptions = [];
                    angular.forEach(scope.minutes, function(value) {
                        this.push({label:value >= 10? value : '0' + value,value:value});
                    }, minuteOptions);

                    scope.minutes = minuteOptions;

                    scope.$parent.$watch(attrs.ngModel, function (value) {
                        if (value && Array.isArray(value)) {
                            scope.hour = value[0];
                            scope.minute = value[1];
                        } else {
                            scope.hour = null;
                            scope.minute = null;
                        }
                        ctrl.$setValidity('required', !scope.required || !!value);
                    });
                    scope.$watch("hour", function(value) {
                        if (value !== null) {
                            ctrl.$setViewValue([ value, scope.minute !== null? scope.minute : scope.minutes[0].value ]);
                        } else {
                            ctrl.$setViewValue(null);
                        }
                    });
                    scope.$watch("minute", function(value) {
                        if (value !== null) {
                            ctrl.$setViewValue([ scope.hour !== null? scope.hour : scope.hours[0], value ]);
                        } else {
                            ctrl.$setViewValue(null);
                        }
                    });
                }
            }
        })
        .run(["$rootScope", function($scope) {
            $scope.time1 = [ 12, 45 ];
            $scope.time2 = null;
        }]);

        angular.element(document).ready(function() { angular.bootstrap(document, ["MyApp"]); });
    </script>
</head>
<body>
<div class="container">
    <h1>TimePicker(時刻選択)</h1>
    <form name="form" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-3">time1(必須)</label>
            <div class="col-xs-9">
                <timepicker class="timepicker" name="time1" ng-model="time1" required="true"></timepicker> {{ time1 }}
                <span class="text-danger" ng-if="!form.time1.$valid">エラー</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">time2</label>
            <div class="col-xs-9">
                <timepicker class="timepicker" name="time2" ng-model="time2" hours="[5,6,7,8,9,10,11,12]"></timepicker> {{ time2 }} <button type="button" ng-click="time2=null">クリア</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <button class="btn btn-primary" ng-disabled="!form.$valid" type="submit"><span class="glyphicon glyphicon-save"></span>OK</button>
            </div>
        </div>
    </form>

    <h3>View Source</h3>
    <ul>
        <li><a href="./src/examples/webapp/timepicker.html">HTML/JavaScript</a></li>
    </ul>
</div>
</body>
<script type="text/ng-template" id="timepicker.html">
    <span>
        <select ng-model="hour" ng-options="hour for hour in hours">
            <option value="">---</option>
        </select>
        時
        <select ng-model="minute" ng-options="minute.value as minute.label for minute in minutes">
            <option value="">---</option>
        </select>
        分
    </span>
</script>
</html>