<!DOCTYPE html>
<html ng-app="MyApp">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-resource.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-messages.js"></script>
        <title>TEST</title>
        <script>
            angular.module("MyApp", ["ngResource"])
            .run(["$rootScope", "$resource", function($scope, $resource) {
                console.log("MyApp");
                var api = $resource("./api/test1");
                $scope.type1 = function() {
                    console.log("type1");
                    api.save({
                name:"ねーむ",
                confirm_url:'confirm.html',
                done_url:'done.html',
                mail_from:"mail",
                notification_to:"notify",
                acceptance_mail_subject:'お問い合わせありがとうございます',
                acceptance_mail_body:'{name}様 この度はお問い合わせ頂きありがとうございました。{formdata}',
                notification_mail_subject:'問い合わせがありました',
                notification_mail_body:'問い合わせがありました{formdata}'
            });
                }
                $scope.type2 = function() {
                    console.log("type2");
                    api.save({a:1});
                }
            }]);
        </script>
    </head>
    <body>
        <button ng-click="type1()">type 1</button>
        <button ng-click="type2()">type 2</button>
        <p><a href="tasty.html">Tasty</a></p>
        <p><a href="grid.html">ui-grid</a></p>
        <p><a href="./markdown/">Markdown</a></p>
        <p><a href="fakephp.html">FakePHP</a></p>
    </body>
</html>